
main,
footer {
  max-width: 90rem;
}

.underline-red:hover {
  border-bottom: 1px #f72210 solid;
}

.text-red {
  color: #f72210;
}

.text-red:hover {
  color: #f01e0d;
}

.bg-red {
  background-color: #f72210;
}

.text-black-red {
  color: #000;
}

.text-black-red:hover {
  color: #f72210;
}


.text-black-60 {
  color: rgba(0, 0, 0, .60);
}

.line-height-1 {
  line-height: 1;
}

.bg-lpurple {
  background-color: #e9e1ff;
}

.bg-gray-50 {
  background-color: rgba(100, 100, 100, 1);
}

.font-weight-max {
  font-weight: 900;
}

.featured-slideshows .overlay-bound {
  width: 4rem;
  height: 3rem;
}

.featured-slideshows .overlay-inner {
  width: 3rem;
  height: 2rem;
  font-size: 1.5rem;
}

#main-name {
  font-size: 1.75rem;
}

.us-news .aside-md img {
  min-width: 6rem;
}

.most-read img {
  width: 6rem;
  height: 4rem;
}

#subscribe img {
  width: 16rem;
  min-width: 80px;
}

.logo-n {
  width: 2rem;
  height: 2rem;
}

.z-index-2 {
  z-index: 2;
}

.z-index-1 {
  z-index: 1;
}

.w-40 {
  width: 40%;
}

header {
  line-height: 1;
}

.w-inherit {
  width: inherit;
}

.h-inherit {
  height: inherit;
}

.navbar-position  {
  position: absolute;
}

/* temporiry start */

.w-80 {
  width: 80%;
}

.fit-contain {
  object-fit: contain;
}

.h-inherit {
  height: inherit;
}

.h-10 {
  height: 2.5rem;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.my-h-100 {
  height: 100px;
}

.my-h-500 {
  height: 500px;
}

.h-inherit {
  height: inherit;
}

.bg-pink {
  background-color: #fcd;
}

.bg-violet {
  background-color: #c9a;
}

.bg-orange {
  background-color: #f50;
}

.bg-yellow {
  background-color: #ff3;
}

/* temporiry end */

@media (min-width: 768px) { /* midium */
  .intro-img {
    height : 20vw;
    max-height: 18rem;
  }

  .fit-md-cover {
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width:992px) {
  .border-md-0 {
    border: none;
  }
}

@media (min-width: 992px) { /* large */
  #main-name {
    font-size: 4.5rem;
  }

  .navbar-position  {
    position: static;
  }
}
